@using PagedList.Mvc;
@model TKM.WebApp.Controllers.BaoCaoThongKeController
@{
    ViewBag.Title = "Báo cáo thống kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string view = ViewBag.ViewIndex;
    var loaibaocao = (int)ViewBag.LoaiBaoCao;
}

<div class="row">
    <div class="col right-content">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 fwb">
                        <li class="breadcrumb-item"><a href="/Home"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="/BaoCaoThongKe/Index">@ViewBag.Title</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        @if (TempData["AlertData"] != null)
            {
            <div class="alert @TempData["AlertType"]">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>@Html.Raw(TempData["AlertData"])</strong>
                <a id="lblMessage"></a>
            </div>
        }
        <div class="row">
            <div class="col">
                <!-- Classic tabs -->
                <div class="classic-tabs tabs-f-cl mx-2">
                    <div class="tab-content py-0 card" id="myClassicTabContentShadow">
                        <div class="tab-pane fade active show" id="vb-lt-den" role="tabpanel" aria-labelledby="profile-tab-classic-shadow">
                            <div class="row mb-5 grey lighten-4">
                                <div class="col p-3">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#LoaiBaoCao').on('change', function () {
        var LoaiBaoCao = $('#LoaiBaoCao').val();
        $.ajax({
            type: "GET",
            url: '/BaoCaoThongKe/Index',
            data: { LoaiBaoCao: LoaiBaoCao },
            dataType: "html",
            success: function (res) {
                $('#reloadND').html(res);
            },
            error: function (response) {
            }
        });
    })
</script>
