@{
    Layout = null;
}
<ul class="pl-0">
    @Html.Raw(ViewBag.Html)
</ul>
@*<ul class="pl-0">
        <li>
            <span>
                <p class="mt-0 mb-0">
                    Bà: Nguyễn Tố Tâm
                    <small class="font-italic">( Văn thư cục )</small>
                </p>
                <small>Gửi đề xuất</small>
            </span>

            <ul>
                <li>
                    <span>
                        <p class="mt-0 mb-0">
                            Ông: Nguyễn Vũ hải
                            <small class="font-italic">( Phó cục trưởng )</small>
                        </p>
                        <small><i class="fas fa-circle text-warning mr-2"></i>Theo dõi</small>
                    </span>

                    <ul>
                        <li>
                            <span>
                                <p class="mt-0 mb-0">
                                    Phòng VAQ
                                </p>
                                <small><i class="fas fa-circle text-success mr-2"></i>Xử lý chính</small>
                            </span>

                        </li>
                    </ul>
                </li>
                <li>
                    <span>
                        <p class="mt-0 mb-0">
                            Phòng đường sắt
                        </p>
                        <small><i class="fas fa-circle text-success mr-2"></i>Xử lý chính</small>
                    </span>

                    <ul>
                        <li>
                            <span>
                                <p class="mt-0 mb-0">
                                    Ông: Nguyễn Duy Tân
                                    <small class="font-italic">( Phó cục trưởng )</small>
                                </p>
                                <small><i class="fas fa-circle text-danger mr-2"></i>Nhận để biết</small>
                            </span>
                        </li>
                        <li>
                            <span>
                                <p class="mt-0 mb-0">
                                    Ông: Nguyễn Anh Tuấn
                                    <small class="font-italic">( Cán bộ ABC )</small>
                                </p>
                                <small><i class="fas fa-circle text-info mr-2"></i>Phối hợp xử lý</small>
                            </span>
                            <ul>
                                <li>
                                    <span>
                                        <p class="mt-0 mb-0">
                                            Bà: Phạm Tuyết Anh
                                            <small class="font-italic">( Cán bộ ABC )</small>
                                        </p>
                                        <small><i class="fas fa-circle text-warning mr-2"></i>Theo dõi</small>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <p class="mt-0 mb-0">
                                            Bà: Phạm Thị Lan
                                            <small class="font-italic">( Cán bộ ABC )</small>
                                        </p>
                                        <small><i class="fas fa-circle text-warning mr-2"></i>Theo dõi</small>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <p class="mt-0 mb-0">
                                            Ông: Nguyễn Văn Đức
                                            <small class="font-italic">( Cán bộ ABC )</small>
                                        </p>
                                        <small><i class="fas fa-circle text-warning mr-2"></i>Theo dõi</small>
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>
                                <p class="mt-0 mb-0">
                                    Bà: Phạm Kim Anh
                                    <small class="font-italic">( Phó phòng ABC )</small>
                                </p>
                                <small><i class="fas fa-circle text-info mr-2"></i>Phối hợp xử lý</small>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>*@

