@model List<TKM.BLL.HoSoCongViecQuaTrinhXuLyViewModel>
@{
    Layout = null;
    var cvid = (int)ViewBag.cvid;
    var rootid = (int)ViewBag.rootid;
 }
<div class="row box-content bg-white z-depth-1 mx-0">
    <div class="col-12 col-lg-4 px-3">
        <h4 class="py-3">Luồng xử lý công việc</h4>
        <div class="tree well">
            @{Html.RenderAction("QuaTrinhXuLyTreeView", "HoSoCongViec", new { rootid = rootid });}
        </div>

    </div>

    <div class="col-12 col-lg-8 table-responsive-sm mb-4 my-lg-0 px-3">
        <h4 class="py-3">Thông tin gửi, nhận công việc</h4>
        <table id="t-quatrinh" class="table table-hover table-bordered table-sm mb-0" cellspacing="0" width="100%">
            <thead class="bg-primary text-white lighten-3">
                <tr>
                    <th class="th-sm">
                        Người gửi
                    </th>
                    <th class="th-sm">
                        Thời gian gửi
                    </th>
                    <th class="th-sm">
                        Người nhận
                    </th>
                    <th class="th-sm">
                        Đơn vị nhận
                    </th>
                    <th class="th-sm">
                        Thời gian nhận
                    </th>
                    <th class="th-sm">
                        Trạng thái
                    </th>
                </tr>
            </thead>
            <tbody>
                @{Html.RenderAction("QuaTrinhXuLyThongTinGuiNhan", "HoSoCongViec", new { cvid = cvid, view = "popup"});}
            </tbody>
        </table>
    </div>
    <div class="w-100">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                       aria-controls="collapseOne1">
                        <h4 class="mb-0">
                            Lịch sử xử lý công việc <i class="fal fa-angle-down rotate-icon"></i>
                        </h4>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                     data-parent="#accordionEx">
                    <div class="card-body">
                        <div class="timeline-main">
                            <ul class="timeline-light">
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <li class="timeline-light-item">
                                            <small class="border py-1 px-2 text-muted mr-lg-3 rounded"><i class="fal fa-clock mr-2"></i>@TKM.Utils.ConvertDateTime.ConvertDateTimeToTimeString(item.NgayTao)</small>
                                            <strong>@Html.Raw(item.ChucVuNguoiGui + " " + item.NguoiGui + ": " + "<span class='text-danger'>" + item.NoiDungYKien + "</span>")</strong>
                                        </li>
                                    }
                                }
                            </ul>
                   </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Accordion card -->
            
        </div>
        <!-- Accordion wrapper -->
       
    </div>

</div>

<style>
       .modal-lg, .modal-xl {
        max-width: 1300px !important;
    }

</style>
<script>
    $(document).ready(function () {
        $('#rmcBody').removeClass('modal-body');
        buildTreeView();
})
</script>